# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual Environments
# =====================
.venv/
venv/
env/

# =====================
# Build / Distribution
# =====================
build/
dist/
*.spec

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Logs / Cache
# =====================
*.log
.cache/

# =====================
# Qt / PySide6
# =====================
*.qmlc
*.jsc
